/* Menu bar styles */
nav {
    background-color: #333;
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  /* Body styles */
  body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
  }
  
  /* Article styles */
  article {
    width: 75%;
  }
  
  article h2 {
    font-size: 1.5em;
    margin-top: 30px;
  }
  
  article p:first-of-type:first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    float: left;
    margin-right: 10px;
  }
  
  /* Aside styles */
  aside {
    width: 20%;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  aside ul {
    list-style-type: square;
  }
  
  aside ol {
    list-style-type: upper-roman;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: #fff;
  }
  
  /* Lines styles */
  .lines {
    border-top: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .lines:before {
    content: "";
    display: table;
    clear: both;
  }
  
  .lines:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lines > div {
    width: 33%;
    float: left;
    height: 1px;
    background-color: #ccc;
  }
  